#boardContainer {
	margin-top: 5%;
	margin-bottom: 5%;
}

#boardContainer tr {
	font-size: min(2vw, 2vh);
}
#boardContainer .val {
	cursor: auto;
}

#boardContainer2 {
	background-color: #ddd;
	margin-left: 10px;
	font-size: 14pt;
	font-size: min(1.5vw, 1.5vh);
	user-select: none;
}
#boardContainer2 > tr > td {
	border: 1px solid black;
	padding-left: 3px;
	padding-right: 3px;
	width: 20%;
}
#boardContainer2 .gridSpot {
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: #eee;
	border: 1px solid #666;
	padding-left: 3px;
	padding-right: 3px;
}
#boardContainer2 .val {
	width: 50%;
	padding-right: 3px;
	padding-left: 3px;
	align-items: center;
	justify-content: center;
}
#boardContainer2 .gridSpot.selected {
	background-color: #bfb;
}
#boardContainer2 .gridSpot.rselected {
	background-color: #fbb;
}
#boardContainer .gridSpot .rselected {
	background-color: #fbb;
}
#boardContainer2 .gridSpot.dselected {
	background-color: #ddd;
}
#boardContainer .gridSpot .dselected {
	background-color: #ccc;
}
#boardContainer2 .val {
	text-align: center;
	cursor: pointer;
}
#boardContainer2 .val.hover {
	transform: scale(1.5);
	text-shadow: #995 0 0 0.25vh;
}
#boardContainer2 .val.hover::after {
	position: absolute;
	top: 45%;
	left: 50%;
	width: 2.5vh;
	height: 2.5vh;
	transform: translate(-50%, -50%);
	border: 1px dashed #0008;
	border-radius: 50%;
	content: "";
}
#boardContainer2 .val.highlight {
	transform: scale(1.1, 1.1);
	border: 2px solid #885;
	font-weight: bold;
}

#boardContainer2_OLD {
  position: relative;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: top;
  /* margin: 70px; */

  height: 64vh;
  width: 100vh;
  max-width: 100%;
  min-width: 200px;

  scroll-snap-align: center;
  scroll-snap-stop: normal;
  /* font-size: max(min(3vw, 2vh), 7pt); */

  /* border-style: dotted; */
}
#boardContainer2_OLD .board {
  /* grid container */
  display: grid;
  /* same num as blocks on y axis */
  grid-template-columns: auto auto auto auto auto auto;
  border: .5px solid rgba(0, 0, 0, 0.8);

  /* same as boardContainer2 */
  height: 64vh;
  width: 100vh;
  max-width: 100%;
  min-width: 200px;
}
#boardContainer2_OLD .board .block {
  /* grid item */
  border: .5px solid rgba(0, 0, 0, 0.8);
  /* background-color: rgba(210, 51, 51, 0.8); */

  padding: 2px;
  font-size: 14pt;
  font-size: min(2vw, 1.75vh);
  text-align: center;

  max-width: 100px;
  /* height: 10vh; */
}