*, *::before, *::after {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
  background-color: #eee;
}

header {
  height: 100px;
  border-bottom: 2px solid #666;
  background-color: #aaa;
  padding-left: 20px;
}
header a {
  color: #000;
}
header a:hover {
  color: #332;
}
header a:active {
  color: #554;
}

footer {
  height: 100px;
  border-top: 2px solid #666;
  background-color: #aaa;
  text-align: center;
  padding-top: 10px;
}

#content {
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
  align-items: center;
}
#content > p {
  width: 1200px;
  max-width: 90%;
  line-height: 16pt;
  margin: 5pt;
}
#content > hr {
  width: 850px;
  max-width: 92%;
  line-height: 16pt;
}
#content > ul {
  padding-left: 5px;
  margin-top: 5px;
}

#title {
  margin-top: 10px;
  margin-bottom: 4px;
}
#title + hr {
  width: 400px !important;
}

#does, .gameHeader {
  margin-bottom: 20px;
  color: #600;
}
#does::after {
  content: "Does God play dice?";
}
#does.won {
  color: #060;
}
#does.won::after {
  content: "God does play dice!";
}

#upperArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#upperLeft, #upperRight {
  margin: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

#upperLeft .leftArea > button {
  margin-bottom: 6px;
  font-size: 12pt;
  cursor: pointer;
  border-radius: 5px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid #888;
  text-decoration: none;
  box-shadow: #0004 2px 2px 4px;
  transform: translate(0.1px, 0.1px);
}
#upperLeft .leftArea > button:hover {
  background-color: #ccc;
}
#upperLeft .leftArea > button:active {
  background-color: #bbb;
  box-shadow: #0004 1px 1px 4px;
  transform: translate(1px, 1px);
}
#upperLeft .leftArea > button.resetButton {
  background-color: #fdd;
}
#upperLeft .leftArea > button.resetButton:hover {
  background-color: #fcc;
}
#upperLeft .leftArea > button.resetButton:active {
  background-color: #faa;
}
#upperLeft .leftArea > button.solveButton {
  background-color: #dfd;
}
#upperLeft .leftArea > button.solveButton:hover {
  background-color: #cfc;
}
#upperLeft .leftArea > button.solveButton:active {
  background-color: #afa;
}
#upperLeft .leftArea > button.infoButton {
  background-color: #ffd;
}
#upperLeft .leftArea > button.infoButton:hover {
  background-color: #ffc;
}
#upperLeft .leftArea > button.infoButton:active {
  background-color: #ffa;
}

#upperLeft {
  width: 180px;
}

@media (max-width: calc(100vh - 100px + 460px)) {
  #upperArea {
    flex-direction: column;
    align-items: center;
  }

  #upperLeft {
    width: 800px;
    max-width: 95%;
    margin: 10px;
    margin-top: 0px;
    order: 1;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  #upperLeft h3 {
    margin-top: 0px;
  }
  #upperLeft .leftArea {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  #upperRight {
    width: 500px;
    max-width: 95%;
    margin: 10px;
    order: 2;
  }
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

p.center {
  text-align: center;
}
/*# sourceMappingURL=common.css.map */
