#content {
  flex-direction: column;
  align-items: center;
}
#content > p {
  width: 800px;
  max-width: 90%;
  line-height: 16pt;
}
#content > hr {
  width: 850px;
  max-width: 92%;
  line-height: 16pt;
}
#content > ul {
  padding-left: 5px;
  margin-top: 5px;
}

#title {
  margin-top: 10px;
  margin-bottom: 4px;
}
#title + hr {
  width: 400px !important;
}

#does {
  margin-bottom: 20px;
  color: #600;
}
#does::after {
  content: "Does God play dice?";
}
#does.won {
  color: #060;
}
#does.won::after {
  content: "God does play dice!";
}

#upperArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  margin-left: -14.5vw;
  min-width: 1200px;
}

#upperLeft, #upperRight {
  width: 180px;
  margin: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

#upperLeft .leftArea > button {
  margin-bottom: 6px;
  font-size: 12pt;
  cursor: pointer;
  border-radius: 5px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid #888;
  text-decoration: none;
  box-shadow: #0004 2px 2px 4px;
  transform: translate(0.1px, 0.1px);
}
#upperLeft .leftArea > button:hover {
  background-color: #ccc;
}
#upperLeft .leftArea > button:active {
  background-color: #bbb;
  box-shadow: #0004 1px 1px 4px;
  transform: translate(1px, 1px);
}
#upperLeft .leftArea > button.resetButton {
  background-color: #fdd;
}
#upperLeft .leftArea > button.resetButton:hover {
  background-color: #fcc;
}
#upperLeft .leftArea > button.resetButton:active {
  background-color: #faa;
}
#upperLeft .leftArea > button.infoButton {
  background-color: #ffd;
}
#upperLeft .leftArea > button.infoButton:hover {
  background-color: #ffc;
}
#upperLeft .leftArea > button.infoButton:active {
  background-color: #ffa;
}

#upperRight {
  opacity: 0.5;
}

@media (max-width: calc(100vh - 100px + 460px)) {
  #upperLeft {
    width: 800px;
    max-width: 95%;
    margin: 10px;
    margin-top: 0px;
    order: 1;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  #upperLeft h3 {
    margin-top: 0px;
  }
  #upperLeft .leftArea {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  #upperRight {
    width: 500px;
    max-width: 95%;
    margin: 10px;
    order: 2;
  }
}
.window h3 {
  text-align: center;
  margin: 10px;
}

#win_about {
  width: 400px;
  height: 300px;
}

#simulationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 950px;
  width: 950px;
  margin-bottom: 100px;
}

.detectorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#emmiter {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: -10px;
  border: 2pt black solid;
}

.detector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detector:nth-of-type(1) {
  margin-right: 90px;
}

.detector:nth-of-type(3) {
  margin-left: 90px;
}

#explanationContainer p {
  font-size: 18pt;
}

#peopleContainer {
  position: relative;
  width: 600px;
  height: 600px;
  max-width: 95vw;
  max-height: 95vw;
  margin-bottom: 20px;
  z-index: 1;
}
#peopleContainer svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#peopleContainer .person {
  width: 33%;
  position: absolute;
  clip-path: circle(calc(35% + 1.5px) at 50% 50%);
  transition: clip-path 0.2s;
  transform: translate(-50%, -50%);
  z-index: 2;
}
#peopleContainer .person img {
  width: 100%;
  height: auto;
  margin: 1px;
  margin-left: 0px;
  margin-right: 2px;
  clip-path: circle(35% at 50% 50%);
  transition: clip-path 0.2s;
  border: 1px solid black;
  display: block;
}
#peopleContainer .person div {
  position: absolute;
  bottom: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: 50px;
  text-align: center;
  line-height: 18px;
  padding-top: 10px;
  text-shadow: #fff 0px 0px 6px;
  background-color: white;
  background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0.5) 70%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  transition: opacity 0.2s;
}
#peopleContainer .person::before {
  clip-path: circle(calc(35% + 1.5px) at 50% 50%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
  transition: clip-path 0.2s, opacity 0.2s;
  background-color: #000f;
}
#peopleContainer .person:hover {
  clip-path: circle(81% at 50% 40%);
  z-index: 3;
}
#peopleContainer .person:hover img {
  clip-path: circle(81% at 50% 40%);
  margin: 0px;
  margin-right: 1px;
}
#peopleContainer .person:hover div {
  opacity: 1;
}
#peopleContainer .person:hover::before {
  clip-path: circle(80% at 50% 40%);
  opacity: 0;
}
#peopleContainer .person:nth-of-type(1) {
  top: 15%;
  left: 50%;
}
#peopleContainer .person:nth-of-type(2) {
  top: 68%;
  left: 18%;
}
#peopleContainer .person:nth-of-type(3) {
  top: 68%;
  left: 82%;
}
#peopleContainer .person:nth-of-type(4) {
  top: 85%;
  left: 50%;
}
#peopleContainer .person:nth-of-type(5) {
  top: 32%;
  left: 18%;
}
#peopleContainer .person:nth-of-type(6) {
  top: 32%;
  left: 82%;
}
#peopleContainer .person:nth-of-type(7) {
  top: 50%;
  left: 50%;
}

.personDesc {
  text-decoration: none;
}
.personDesc.highlight {
  text-decoration: underline;
}

/*# sourceMappingURL=merminPentagrams.css.map */
