
#boardContainer {
  position: relative;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  min-width: 200px;
  scroll-snap-align: end;
  scroll-snap-stop: normal;
}
#boardContainer .moveCounter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 5%;
	right: 5%;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #666;
	background-color: #fcc;
	font-size: 20pt;
	font-size: min(6vw, 24pt);
	text-align: center;
}
#boardContainer .moveCounter::before {
  position: absolute;
  width: 200%;
  left: 50%;
  bottom: 100%;
  font-size: 12pt;
  font-size: min(4vw, 14pt);
  text-align: center;
  transform: translate(-50%);
  content: "moves";
}
#boardContainer .moveCounter.even {
  background-color: #fcc;
}
#boardContainer .moveCounter.odd {
  background-color: #cfc;
}
#boardContainer .board {
  display: flex;
  position: relative;
	height: 75vh;
	width: 75vh;
	margin: 3.5vh;
}
#boardContainer .board .circle {
  display: flex;
  flex-direction: column;
  position: absolute;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 14%;
  height: 14%;
  transform: translate(-50%, -50%);
  padding: 1%;
  font-size: 14pt;
  font-size: min(2vw, 1.75vh);
  border: 1px solid #666;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: #0002 2px 2px 5px;
  cursor: pointer;
  z-index: 5;
  user-select: none;
  transition: transform ease-out 0.1s, font-weight ease 0.1s;
}
#boardContainer .board .circle.selected {
  background-color: #fcc;
}
#boardContainer .board .circle.highlight {
  transform: translate(-50%, -50%) scale(1.1, 1.1);
  border: 2px solid #885;
  font-weight: bold;
}
#boardContainer .board .circle .rowOfValues {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#boardContainer .board .circle .rowOfValues .value {
  width: 50%;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
}
#boardContainer .board .circle .topVals, #boardContainer .board .circle .bottomVals {
  width: 50%;
}
#boardContainer .board .circle .midVals {
  width: 100%;
}
#boardContainer.won .board .circle.selected {
  background-color: #cfc;
}
#boardContainer svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#upperRight {
	height: 78.5vh;
}
#upperRight .scoreboard {
	width: 100%;
	font-size: 16pt;
	font-size: max(min(4vw, 2.5vh), 8pt);
	box-shadow: #0002 2px 2px 5px;
}
#upperRight .scoreboard .ray {
	border: 1px solid #666;
	background-color: #dfd;
	transition: transform ease-out 0.1s, font-weight ease 0.1s;
	padding: 5px;
}
#upperRight .scoreboard .ray.odd {
  background-color: #fbb;
}
#upperRight .scoreboard .ray.even {
  background-color: #bfb;
}
#upperRight .scoreboard .ray.highlight {
  font-weight: bold;
  border: 1px solid #995;
  transform: scale(1.1, 1.1);
}
#upperRight .scoreboard .ray div {
	padding: 1.85px;
	text-align: center;
}

.window h3 {
  text-align: center;
  margin: 10px;
}

#win_about {
  width: 400px;
  height: 300px;
}

#win_rules {
  width: 400px;
  height: 300px;
}

/*# sourceMappingURL=qudoku2.css.map */
